<p id="notice"><%= notice %></p>

<h1>Here are your questions!! </h1>
  <ol>
    <% @questions.each do |ques| %>
        <li><br><%= cl_image_tag ques.question , class: "question_image" %><br>
        <h1>Answer  : <%= ques.answer %></h1><br></li>
        <hr>
    <% end %>
  </ol>
<div class="panel-footer">
<%= link_to 'Add New Questions', new_question_path , class: "btn btn-lg" %>
</div>
