<p id="notice"><%= notice %></p>

<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
<h1> show page of questions </h1>
