

<h3>Letters will pop up...
  <br>Press the correct key to knock it away before the timer goes off<br>
</h3>


<div class="displayGameControls">
<button id="startGame" type="button" class="btn btn-info">START GAME</button>
<button id="pauseGame" type="button" class="btn btn-info">PAUSE GAME</button>
<button id="restartGame" type="button" class="btn btn-info">RESTART GAME</button>

<p id="scores"> Score </p>
<p id="turns"> Chances Remaining </p>
<span id="timer">0</span>



</div>
<button id="saveGame" type="button" class="btn btn-info">SAVE GAME</button>
