<div class="displayGameContols">
<button id="startGame" type="button" class="btn btn-info">START GAME</button>
<button id="pauseGame" type="button" class="btn btn-info">PAUSE GAME</button>
<button id="restartGame" type="button" class="btn btn-info">RESTART GAME</button>
</div>
