

<div class="displayedLetter"></div>


<h3>Letters will pop up...
  <br>Press the correct key to knock it away before the timer goes off<br>
</h3>

<div class="displayScores">
<p id="scores"  class="btn btn-warning"> Score </p>
<p id="turns"   class="btn btn-warning"> Chances Remaining </p>
</div>

<div class="row">
  <div class="col-sm-9">
<div class="displayGameControls">
<button id="startGame" type="button" class="btn btn-info" >START GAME</button>
<button id="pauseGame" type="button" class="btn btn-info" >PAUSE GAME</button>
<button id="restartGame" type="button" class="btn btn-info" >RESTART GAME</button>

<button id="saveGame" type="button" class="btn btn-info">SAVE GAME</button>
<div id="timer">0</div>


</div>
</div>



</div>
