<div class="container">



  <div id="problem"></div>
  <!-- <div>+</div> -->

  <!-- <div>=</div> -->

  <div id="answer"></div>


  <button id="start">Start</button>
  <button id="next_problem">Next</button>
  <form id="form" onsubmit="return false;">
  Enter your answer : <input type="integer" name="lname" id="userInput"><br>
  <input id="submit" type="submit" value="Submit">
  </form>

  <div id="score"></div>
  <div id="result">Result: </div>


</div>
