
<h1>HELLO!</h1>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Music</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>

  <div class = "music">


  <div class="keys">
    <div data-key="65" class="key">
      <p>A</p>
      <span class="sound">clap</span>
    </div>
    <div data-key="66" class="key">
      <p>B</p>
      <span class="sound">kick</span>
    </div>
    <div data-key="83" class="key">
      <p>S</p>
      <span class="sound">hihat</span>
    </div>
    <div data-key="68" class="key">
      <p>D</p>
      <span class="sound">kick</span>
    </div>
    <div data-key="70" class="key">
      <p>F</p>
      <span class="sound">openhat</span>
    </div>
    <div data-key="71" class="key">
      <p>G</p>
      <span class="sound">boom</span>
    </div>
    <div data-key="72" class="key">
      <p>H</p>
      <span class="sound">ride</span>
    </div>
    <div data-key="74" class="key">
      <p>J</p>
      <span class="sound">snare</span>
    </div>
    <div data-key="75" class="key">
      <p>K</p>
      <span class="sound">tom</span>
    </div>
    <div data-key="76" class="key">
      <p>L</p>
      <span class="sound">tink</span>
    </div>
  </div>



  <!-- <audio data-key="71" src="boom.wav"></audio> -->

  <audio data-key="65" src="/assets/clap.wav"></audio>
  <audio data-key="66" src="/assets/kick.wav"></audio>
  <audio data-key="83" src="/assets/hihat.wav"></audio>
  <audio data-key="68" src="/assets/kick.wav"></audio>
  <audio data-key="70" src="/assets/openhat.wav"></audio>
  <audio data-key="71" src="/assets/boom.wav"></audio>
  <audio data-key="72" src="/assets/ride.wav"></audio>
  <audio data-key="74" src="/assets/snare.wav"></audio>
  <audio data-key="75" src="/assets/tom.wav"></audio>
  <audio data-key="76" src="/assets/tink.wav"></audio>


<!-- <script src = "js/jquery-3.3.1.js"></script>
<script src = "js/main.js"></script> -->

</div>
</body>

</html>
