<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Voice</title>
</head>
<body>



  <div id="voice">
  <div id="image">


    <button id="level1">Images</button>
    <button id="level2">Words</button>



  <div id="record" ><img class="mic" src="/assets/mic.png"></div>
  <button id="next" >Next</button>
  <button id="nextWord" >Next</button>
  <button id="play" ><img class="mic2" src="/assets/mic.png"></button>
  <b><h4 id="msg">Click on the mic & say "PLAY" for the Image game OR
    "Let's Play" for the Words game</h4></b>

  </div>
</div>


</body>
</html>
