<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Voice</title>
</head>
<body>

<div id="voice">



  <div id="image">

<div class="startGame" style="text-align:center"><img class="mic" src="/assets/mic.png"></div>
    <button id="level1">Level 1</button>
    <button id="level2">Level 2</button>



  <button id="record" >Click to record</button>
  <button id="next" >Next</button>
  <button id="nextWord" >Next</button>
  <!-- <button id="stopGame" >STOP</button> -->





  </div>
</div>

</body>
</html>
