.container{
  margin: 0 auto;
  padding-bottom: 40px;
}


#container{
  margin: 0 auto;
  padding: 20px;
  background-image: url("https://static.studyladder.com/cdn/site/f9/a6e6b62cd616.gif");
  /* background: #FCE14C; */
  background-position: center;
  font-size: 30px;
  border-radius: 20px;
  height: 500px;
  line-height: 200%;
  text-align: center;
}

.displayedLetter {
  border: 2px solid red;
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: red;
  color: white;
}
