<p id="notice"><%= notice %></p>

<h1>Here are your game statistics!</h1>

<h3>Scores</h3>
<%= line_chart @score %>
<%#= line_chart @stats.map { |stat|
    { name: stat.game, data: stat.score }
} %>
<br />
<h3>Average time spent</h3>
<%= column_chart @average %>

<h3>Accuracy</h3>
<%= bar_chart @accuracy %>

<hr />
